div.homeContainer
	h1
		span.animate-in Consult.  
		span.animate-in Design.  
		span.animate-in Deliver.  
	section
		div.textWithImage.onRight.animate-in
			div.imgContainer
				img(class="structural" src="#{urlStaticRelative}images/backgrounds/structural.jpg")
			p
				span.companyName Allied Consultant Engineering 
				span provides industry leading structural engineering services.
			p.
				We ensure the appropriate consultation and advice is provided based on client’s needs, from small one-off projects to major infrastructure programs.
		div.line.animate-in
		div.textWithImage.onLeft.animate-in.animate-in
			div.imgContainer
				img(class="telecoms" src="#{urlStaticRelative}images/backgrounds/telecoms.jpg")
			p.
				We always ensure our advice is communicated in a clear and concise manner.
			p.
				Our mission is to provide lasting value engineering to all of our clients.