div.serviceContainer
	h1 Structural Analysis & Design
	p.
		Structural Analysis is essential in assessing the reliability of your structural asset. Allied Consultant Engineering will analyse your structure using the most up to date analysis techniques and codes. We will offer sound, impartial advice on the condition of your structure.
		If required, we can work with you to develop safe and economic upgrade solutions where a structure does not meet code or safety requirements.
	P.
		If you need design of a new structure, or an upgrade of an existing structure, we can provide design services to meet your needs. Our services include:
	ul
		li Steel Design
		li Concrete Design
		li Masonry Design
		li Timber Design
		li Foundation Design
	p.
		We have a proven track record in providing clear design drawings and documentation. Allied Consultant Engineering prides itself on providing clients safe, economic and constructible design solutions. We will also provide Chartered Engineer sign off as required.
	p
		a.lnk(href="#{urlRelative}contact" page="#{JSON.stringify(mainPages.contact)}") Contact us
		span  if you require structural analysis or design services.