div.serviceContainer
	h1 Technical, Advisory & Compliance Services
	p.
		Allied Consultant Engineering has proven capabilities in improving the efficiency and strengthening delivery capabilites of technical teams. We can work with you to develop your team in the following areas:
	ul
		li Process improvement
		li Communication for technical professionals
		li Technical Training
		li Development of standard calculations and design drawings to improve design efficiency
	p.
		We have extensive experience in helping infrastructure owners are compliant with relevant codes and standards.
	p.
		It is essential that any building project complies with the local building regulations. The reasons for this are:
	ul
		li Primarily to ensure the structure is safe throughout its working life
		li To ensure that the structure is fit for purpose
		li Modern standards will deliver an economical structural solution when applied correctly
	p.
		The team at Allied Consultant Engineering have expert knowledge in Eurocodes, Australian Standards and other international codes:
	ul
		li Eurocodes
		li Australian Standards
		li British Standards 
		li Other standards standard specified by you or your client
	p
		a.lnk(href="#{urlRelative}contact" page="#{JSON.stringify(mainPages.contact)}") Contact us
		span  if you require technical, advisory & compliance services.